<div class="course">

    <h2>{{course?.titles.description}}</h2>

    <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">

    <div class="spinner-container"***REMOVED***ngIf="false">

        <mat-spinner></mat-spinner>

    </div>

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="lessons">

        <ng-container matColumnDef="seqNo">

            <mat-header-cell***REMOVED***matHeaderCellDef>#</mat-header-cell>

            <mat-cell***REMOVED***matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="description">

            <mat-header-cell***REMOVED***matHeaderCellDef>Description</mat-header-cell>

            <mat-cell class="description-cell"
                     ***REMOVED***matCellDef="let lesson">{{lesson.description}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="duration">

            <mat-header-cell***REMOVED***matHeaderCellDef>Duration</mat-header-cell>

            <mat-cell class="duration-cell"
                     ***REMOVED***matCellDef="let lesson">{{lesson.duration}}</mat-cell>

        </ng-container>

        <mat-header-row***REMOVED***matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row***REMOVED***matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>


    <button class="bottom-toolbar" mat-raised-button color="primary"
            (click)="loadMore()">Load More</button>

</div>






